
.subscription-info h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    text-align: center;
    font-size: 36px;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 10px; /* Adjust this value to reduce space */
}

.main-title {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-top: 10px; /* Reduced from default value */
}

.fixed-top-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999; /* Ensure it's on top of other elements */
    opacity: 1;
    transition: opacity 1s ease-out;
}
